:root {
  --primary-teal: #2187AA;
  --primary-green: #8BDAA1;
  --brand-dark: #272827;
  --brand-light: #F7F7F7;

  --secondary-teal: #59E0F4;
  --secondary-mint: #9FECB8;
  --secondary-pale: #CCECD4;
}

body {
  background: var(--brand-light);
  color: var(--brand-dark);
  font-family: "AllumiSTD", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  scroll-margin-top: 110px;
  /* prevent navbar block */
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

@font-face {
  font-family: "AllumiSTD";
  src: url("../assets/fonts/allumi-std-book-bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AllumiSTD";
  src: url("../assets/fonts/Allumi_Std_Book_Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}